* {
    box-sizing: border-box;
    --blue: #024890;
    --hover-spot: #5fb404;
}
/* .hotspots {
    margin: 20px;
} */
span {
	position: relative;
	display: none;
	border-radius: 8px;
	padding: 5px;
	text-align: center;
	line-height: 1.5em;
	color: #fff;
	background-color: rgba(255,255,255);
	border: .25px solid var(--blue);
}
span h1 {
    font-size: 16px;
    /* margin-top: 5px; */
    color: var(--blue);
}
span p, span div {
    margin-top: 4px;
    /* margin-bottom: 10px; */
    font-style: italic;
	color: var(--blue);
    text-align: left;
}
img {
	display: block;
	width: 100%;
}
.hotspot-left {
	position: relative;
	width: 100%;
}
.spots {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.spot {
    position: absolute;
	text-align: center;
	line-height: 28px;
    font-size: 32px;
	/* font-weight: bold; */
	color: #fff;
    width: 32px;
    height: 32px;
	border: 1px solid #366603;
	border-radius: 16px;
	background-color: var(--hover-spot)
}
.spot:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#spot-01, #spot-02, #spot-03, #spot-04, #spot-05, #spot-06, #spot-07, #spot-08, #spot-09  {
	display: inline-block;
	/* min-width: 250px; */
	max-width: 200px;
}	
#spot-01:hover > span, #spot-02:hover > span, #spot-03:hover > span, #spot-04:hover > span, #spot-05:hover > span, #spot-06:hover > span, #spot-07:hover > span, #spot-08:hover > span, #spot-09:hover>span {
	display: block;
	z-index: 1;
}
#spot-01:active>span,
#spot-02:active>span,
#spot-03:active>span,
#spot-04:active>span,
#spot-05:active>span,
#spot-06:active>span,
#spot-07:active>span,
#spot-08:active>span,
#spot-09:active>span {
    display: block;
    z-index: 1;
}
#spot-01 {
	position: absolute;
    /* top: 1%; */
    left: 32%;
}
#spot-01:hover > span {
	top: 10px;
	left: -205px;
}
/* *************************  */
#spot-02 {
	position: absolute;
    top: 30%;
    left: 32%;
}
#spot-02:hover > span {
    top: -100px;
	left: -103%;
}
/* *************************  */
#spot-03 {
	position: absolute;
    top: 57%;
    left: 29%;
}
#spot-03:hover > span {
    top: -160px;
    left: -103%;
}
/* *************************  */
#spot-04 {
	position: absolute;
    top: 83%;
    left: 33%;
}
#spot-04:hover > span {
    top: -130px;
    left: -103%;
}
/* *************************  */
#spot-05 {
	position: absolute;
    /* top: 5%; */
    left: 67%;
}
#spot-05:hover > span {
    top: 20px;
    left: 20%;
}
/* *************************  */
#spot-06 {
	position: absolute;
    top: 26%;
    left: 65%;
}
#spot-06:hover > span {
    top: -10px;
    left: 20%;
}
/* *************************  */
#spot-07 {
	position: absolute;
    top: 44%;
    left: 67%;
}
#spot-07:hover > span {
    top: -30px;
    left: 20%;
}
/* *************************  */
#spot-08 {
	position: absolute;
    top: 65%;
    left: 68%;
}
#spot-08:hover > span {
    top: -30px;
    left: 30%;
}
/* *************************  */
#spot-09 {
    position: absolute;
    top: 77%;
    left: 66%;
}

#spot-09:hover>span {
    top: -100%;
    left: 20%;
}